<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>test! !! !! !! !! !! !! !! !! !! !! !! !!</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <% result = connection.exec("select length, weight, quality, give_for, date from crops where quality not in ('true');") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "Goya length: #{record["length"]} Goya size：#{record["weight"]}　Quality: #{record["quality"]} Sold by：#{record["give_for"]} Date: #{record["date"]}" %>
    <% end %>
    <form action="indicate.cgi" method="POST">
       Press the button below to jump to the information page for bitter guord of poor quality.<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="input" value="<%= data.join(' ') %>">
      <input type="submit" name="send" >
    </form>
    <% result = connection.exec("select weight, give_for from crops where give_for not in ('自家消費');") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "Goya size：#{record["weight"]}　Sold by：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       Press the button below to jump to the information page for bitter guourd not self-consumed.<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="send" >
    </form>
  </body>
</html>
